:root {
  --q-primary: #3fb9bc;
  --q-secondary: #f5f5f5;

  --q-accent: #182225;
  --q-dark: #00345f;

  --q-positive: #51cd5d;
  --q-negative: #f04248;
  --q-info: #3fb9bc;
  --q-warning: #e0cd1e;

  --q-white: #f1f3f3;
  --q-yellow: #e0cd1e;
  --q-green: #51cd5d;
  --q-red: #f04248;
  --q-grey: #edefef;
  --q-blue: #7f99ae;
}
